.container {
  width: 100%;
}
  .container__item {
  }

  .container__item_dark {
    background-color: #384452;
  }

  .container__item_blue {
    background-color: #00B3FE;
  }

.header {
  margin: 0 auto;
  height: 70px;
  max-width: 1170px;
  
}
  .header__item {
    height: 100%;
  }

.brand {
  display: table;
  float: left;
  width: 100px;
}
  .brand__label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font: 18px/20px 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
  }

.nav {
  display: block;
  overflow: hidden;
}
  .nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #FFF;
  }

.list {
  display: table;
  float: right;
  height: 100%;
}
  .list__item {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    height: 100%;
    font: 12px/20px 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .list__item_active {
    color: #00B3FE;
  }

.jumbotron {
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
  padding-top: 30px;
}
  .jumbotron__heading {
    margin: 20px 0 10px 0;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
  }
  .jumbotron__heading_major {
    margin: 20px 0 25px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }
  .jumbotron__heading_minor {
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 15px;
  }

.snapshot {
  margin: 0 auto;
  max-width: 750px;
}
  .snapshot__cover {
    display: block;
    width: 100%;
  }























  .clearfix {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
  }